.App{
  text-align: center;
  background-color: #2372C6;
}
.App p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}

.list-table {
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  height: auto;
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-decoration:none;
  
  }
  
  table {
  border: 2px solid rgb(70, 68, 68);
  width: 800px;
  height: 200px;
  color: aliceblue;
  }
  
  th {
  border-bottom: 1px solid black;
  text-align: center;
  }
  
  td {
  text-align: center;
  border: 2px solid rgb(70, 68, 68);
  }
  
  .search-list{
    width: 100%;
    height: auto;
    background-color: aliceblue;
    text-align: center;
  }
